body {
  font-family: 'Century Gothic Regular';
  background-image: linear-gradient(0deg, #0772ba,#a4c755);
  background-attachment: fixed;  /* Градиент не растёт, а привязан к экрану */
}

h1 {
  color:rgb(51, 51, 51);
}


.container img {
  align-self: center;
}



